.maincontent > img{
    width: 500px;
    height: auto;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #f7f2f5;
    margin: 0;
    font-family: sans-serif;
    
}

a{
    text-decoration: none;
}

a:any-link{
    color: #be98ad;
}

li{
    list-style: none;
}

