header > nav > ul > li{
    display:inline-block
}

.titolo_principale{
    text-align: center;
    font-size: xxx-large;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #be98ad;
    color: #f7f2f5;
}

.r > form > input{
    width: 250%;
    height: 25px;
    font-size: larger;
}

.pl{
    float:right;
    margin:10px 5%;    
}

.h{
    float:right;
    margin:10px 5%;
}

.pl , .h{
    font-size: larger;
}

.h > a:any-link{
    color: #60447c;
}

.pl > a:any-link{
    color: #60447c;
}

.menu_azioni{
    background-color:#d1b6c5;
    padding-top:1px;
    padding-bottom:9px;
    text-align:center;
    font-size:x-large;
    padding-right: 55px;
}

.menu_azioni > ul > li {
    display: inline-block;
    margin:1%
}

.menu_azioni > ul > li > a:any-link{
    color:#f7f2f5;
}

.agg{
    float: left;
}
.out{
    float: right;
}

.menu_navigazione {
    font-size:x-large;
    background-color:#e4d4dd;
    text-align:center;
    padding-top:1px;
    padding-bottom:1px;
}

.menu_navigazione > ul{
    margin-right: 30px;
}

.menu_navigazione > ul > li {
    display: inline-block;
    margin:1%
}


.h1{
    float:left;
}

.h3{
    float:right;
}